@tailwind base;
@tailwind components;
@tailwind utilities;

body { font-family: 'Roboto', sans-serif; }

.container{
  background-image: url("/images/tablero2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#app{
  text-align: center;  
}

h1, h2, h3, h4{
  color: white;
}

h3{
  text-align: center;
}

h4{
  font-size: 2rem;
  
}

.carta{
  width: 8rem;
  
  margin: 1rem;
  border-radius: .5rem;
  
}

.tittle{
  color: white;
  text-align: center;
  font-size: 2rem;
  
}

.buttons{
  margin-top: 3rem;
}

.score-2{
  padding: 2rem;
}

.gameButton {
  background-color: white;
  border-radius: 2rem;
  padding: 1.5rem;
  cursor: pointer;
 
  &:hover{
    background-color: lightgreen
  }
}











